<style>
 .socio {
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important;
    display: flex !important;
}
 
</style>
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <ul class="socio">
            <!--<a href="https://github.com/sneha797/"><i class="fa-brands fa-square-github"></i></a>-->
            <li><a target="_blank" href="https://www.instagram.com/_tannuthapa?utm_source=qr&igsh=MXczbnQ4amJvMzZ5ZQ=="><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100091274080544"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/sneha-thapa-8b2441239?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="f-info-brand">&copy; WanderLand Private Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
        </div>
    </div>
</footer>