<!-- <style>
 .socio {
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important;
    display: flex !important;
}
 
</style> -->
<!--<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <ul class="socio">
            <a href="https://github.com/sneha797/"><i class="fa-brands fa-square-github"></i></a>
            <li><a target="_blank" href="https://www.instagram.com/_tannuthapa?utm_source=qr&igsh=MXczbnQ4amJvMzZ5ZQ=="><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100091274080544"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/sneha-thapa-8b2441239?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="f-info-brand">&copy; WanderLand Private Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
        </div>
    </div>     
</footer>   -->

<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="main-ftr">
        <div class="ftr-head">
            <h3>Inspiration for future getaways</h3>
        </div>
        <div class="ftr-nav">
            <div class="main-light ftr-nav-m" style="opacity: 1; border-bottom: 2px solid rgba(0, 0, 0, 1);">Popular
            </div>
            <div class="main-light ftr-nav-m">Arts & culture</div>
            <div class="main-light ftr-nav-m">Outdoors</div>
            <div class="main-light ftr-nav-m">Mountains</div>
            <div class="main-light ftr-nav-m">Beach</div>
            <div class="main-light ftr-nav-m">Unique stays</div>
            <div class="main-light ftr-nav-m">Categories</div>
            <div class="main-light ftr-nav-m">Things to do</div>
        </div>
        <div class="ftr-nav-pop">
            <div>
                <div>
                    <div class="main-bar">Whitby</div>
                    <p class="bar">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Longboat Key</div>
                    <p class="bar">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Mackinac Island</div>
                    <p class="bar">Lakehouse rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Benalmadena</div>
                    <p class="bar">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Orlando</div>
                    <p class="bar">Villa rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Lincoln City</div>
                    <p class="bar">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Tucson</div>
                    <p class="bar">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Jasper</div>
                    <p class="bar">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Mountain View</div>
                    <p class="bar">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Devonport</div>
                    <p class="bar">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Mallacoota</div>
                    <p class="bar">Beach house rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Paphos</div>
                    <p class="bar">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="mmain-bar">St Petersburg</div>
                    <p class="bar">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Mounterey</div>
                    <p class="bar">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Hvar</div>
                    <p class="bar">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">St. George</div>
                    <p class="bar">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar">Hay-on-Wye</div>
                    <p class="bar">Cottage rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-bar show">
                        <span>Show more</span>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <p> </p>
                </div>
            </div>
        </div>
        <hr class="ftr-hr">
        <div class="ftr-mdl">
            <div>
                <div class="main-light mb-2"><b>Support</b></div>
                <div class="ftr-mdl-cont">
                    <div><span>Help Centre</span></div>
                    <div><span>AirCover</span></div>
                    <div><span>Anti-discrimination</span></div>
                    <div><span>Disability support</span></div>
                    <div><span>Cancellation option</span></div>
                    <!-- <div><span>Report neighbourhood concern</span></div> -->
                </div>
            </div>
            <div>
                <div class="main-light mb-2"><b>Hosting</b></span></div>
                <div class="ftr-mdl-cont">
                    <div><span>Create your home</span></div>
                    <div><span>AirCover for Hosts</span></div>
                    <div><span>Hosting resources</span></div>
                    <div><span>Community forum</span></div>
                    <div><span>Hosting responsibly</span></div>
                </div>
            </div>
            <div>
                <div class="main-light mb-2"><b>WanderLand</b></div>
                <div class="ftr-mdl-cont">
                    <div><span>Newsroom</span></div>
                    <div><span>New features</span></div>
                    <div><span>Careers</span></div>
                    <div><span>Investors</span></div>
                    <div><span>WanderLand.org emergency stays</span></div>
                </div>
            </div>
        </div>
        <hr class="ftr-hr">
        <div class="ftr-copy">
            <div>
                <div>&copy; 2024 WanderLand, Inc. &dash; &nbsp; </div>
                <div class="priv">
                    <a href="#">Privacy</a> &dash;
                    <a href="#">Terms</a> &dash;
                    <a href="#">Sitemap</a>&dash;
                    <a href="#">Company details</a>
                </div>
            </div>
            <div class="ftr-net">
                <div class="eng-in">
                    <i class="fa-solid fa-globe me-1"></i>
                    <div class="main-light">English (IN)</div>
                </div>
                <div class="ftr-inr">₹ INR</div>
                <div class="social-icon">
                        <a target="_blank" href="https://www.instagram.com/_tannuthapa?utm_source=qr&igsh=MXczbnQ4amJvMzZ5ZQ=="><i class="fa-brands fa-square-instagram"></i></a>
                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100091274080544"><i class="fa-brands fa-square-facebook"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/sneha-thapa-8b2441239?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
                        
                </div>
            </div>
        </div>
        <div class="ftr-sne">
            <p> Made by - Sneha Thapa</p>
        </div>
    </div>
</footer>